.total {
    background-color: antiquewhite;

    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

    .imgheight {
        aspect-ratio: 1/1;
        background-color: aqua;

        display: flex;
        justify-content: center;
        align-items: center;
      }

        .img {
            width: 66.66%;
            aspect-ratio: 1/1;
            height: 66.66%;
            background-color: gray;
        }
    
    .contentheight {
        background-color: aquamarine;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }

      .content {
        text-align: start;
        background-color: azure;
      }