@keyframes Upstream {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes DownStream {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes LeftStream {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes RightStream {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
