.bottomsheetcontainer {
  position: fixed;
  width: min(500px, calc(100% - 2rem));
  bottom: 0;
  left: 0;
  border-radius: 1rem 1rem 0 0;
  background-color: white;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  overflow-wrap: break-word;
  padding: 1rem;
  .bottomsheetcontent {
    margin: 0.5rem;
    text-align: left;
    width: 95%;
    .title {
      font-size: 0.9rem;
    }
  }
}
.bottomsheetcontainer.active {
  transform: translateY(0); /* 올라오는 애니메이션 */
}
