@import "Style";

.defaultBtn {
  background-color: $hotPink;
  border-radius: 30px;
  color: $white;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.deeepBlueButton {
  background-color: $deepBlue;
  border-radius: 30px;
  color: $white;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.sinhanBlueButton {
  background-color: $sinhanBlue;
  border-radius: 30px;
  color: $white;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.pastelBlueButton {
  background-color: $pastelBlue;
  border-radius: 30px;
  color: $white;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.pastelPinkButton {
  background-color: $pastelPink;
  border-radius: 30px;
  color: $white;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.greyButton {
  background-color: $grey;
  border-radius: 30px;
  color: $white;
  border: none;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}
