.text {
    text-align: start;
}

.total {
    background-color: gray;
    
    .container {
        margin: 1rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
    }
    
}