.wrapper {
  margin: 0 1rem;
  text-align: start;

  .text {
    text-align: start;
  }

  .container {
    background-color: gray;
    width: 100%;

    .item {
      margin: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .divide {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
