.hashtag_area {
  margin: 1rem 0;
}

.hashtag {
  display: inline-block;

  margin-bottom: 0.5rem;
  margin-right: 0.5rem;

  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #e9e9e9;
}
