.hashtag_area {
  margin: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hashtag {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  background-color: #e9e9e9;
}
