.introduce_total {
  position: relative;
  max-width: 500px;
  .reward {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #e6e6e6;
  }
  .img {
    width: 100%;
  }
}
