@import "Style";

.wrapper {
  display: flex;
  flex-direction: column;

  .date {
    color: gray;
    font-size: 0.5rem;
    margin-right: auto;
  }
  .content {
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    .content_title {
    }
    .content_point {
      color: blue;
    }
  }
  .remain_point {
    margin-left: auto;
    color: gray;
    font-size: 0.5rem;
  }
  .hr {
    margin: 0;
  }
}
