.cardtotal {
  height: 20rem;
  width: 13rem;
  background-color: gray;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.5rem;
  padding: 1rem;
}
