@import "Style";

.fundingdetailpage {
  width: 100%;
  position: relative;
  .reward_icon {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    background-color: $pastelPink;
    padding: 0.7rem 0.8rem;
    border-radius: 50%;
    z-index: 1;
  }
}

.fixedButton {
  position: fixed;
  bottom: 5rem;
  width: 100%;
  height: 2rem;
  max-width: 500px;
  z-index: 10;
}

.bodyWithModalOpen {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.bottomsheetbackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
}

.modalbackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 40;
}
