.introduce_total {
  position: relative;
  max-width: 500px;
  .reward {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #faa7ba;
  }
  .img {
    width: 100%;
  }
}
