.total {
  display: flex;
  margin-bottom: 1rem;
}

.leftimg {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 1rem;
  background-color: gray;
}

.rightcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}
.upcontent {
  text-align: left;
}
