.totalcontent {
  .slide {
    height: 15rem;
  }

  .slide-1 {
    background-color: pink;
  }

  .slide-2 {
    background-color: yellow;
  }

  .slide-3 {
    background-color: blue;
  }

  .slide-4 {
    background-color: red;
  }
}
