.introduce {
  margin: 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .name {
    font-size: 1.8rem;
    font-weight: 600;
  }
}
.title {
  margin: 0 1rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
}
