@import "Style";

.formControl {
  position: relative;
  margin: 1.25rem 0;
  width: 100%;
  .inputBox {
    border: 0;
    border-bottom: 2px solid #333;
    padding: 0.5rem 0;
    display: block;
    font-size: 1.2rem;
    font-family: "Muli", sans-serif;
    width: 100%;
    transition: 0.1s ease-in;
    border-radius: 0;

    &:focus,
    &:valid {
      border-bottom-color: darksalmon;
      outline: none;
    }

    &:focus + .label .span,
    &:valid + .label .span {
      color: darksalmon;
      transform: translateY(-30px);
    }
  }
  .label {
    position: absolute;
    top: 1rem;
    left: 0;
    .span {
      display: inline-block;
      font-size: 1rem;
      min-width: 0.3rem;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}
