.messageModal {
  max-width: 500px;
  width: 100%;
  height: 100%;

  .messagecontent {
    background-color: #ffffff;
    border-radius: 0.5rem;
    max-width: 350px;
    width: 75%;
    font-size: 1.2rem;
    position: fixed;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-break: break-word;
    .icon_section {
      position: relative;
      margin-bottom: 2rem;
      .icon {
        position: absolute;
        right: 0;
      }
    }
    .sending {
      display: flex;
    }
    .received {
      display: flex;
    }
  }
}
.return_btn {
}
