.name_date {
  display: flex;
  justify-content: space-between;
  .name {
    display: flex;
    .company_name {
      font-size: 1.3rem;
      font-weight: 500;
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.5rem;
      border: black 1px solid;
      margin-right: 0.3rem;
    }
  }
  .date {
    margin-right: 0.7rem;
    color: grey;
    font-size: 0.9rem;
  }
}
.letter {
  color: grey;
  font-size: 0.9rem;
  width: 98%;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2; // 원하는 라인수
  -webkit-box-orient: vertical;
}
