.name_date {
  display: flex;
  justify-content: space-between;
  .name {
    display: flex;
    .company_name {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  .date {
    margin-right: 0.7rem;
    color: grey;
    font-size: 0.9rem;
  }
}
.letter {
  color: grey;
  font-size: 0.9rem;
  width: 98%;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2; // 원하는 라인수
  -webkit-box-orient: vertical;
}
.modalbackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
