@import "Style";

.mywallet {
  background-color: $light;
  border-radius: 15px;
  padding: 0 1rem 1rem 1rem;
  width: calc(85% - 2rem);
  position: absolute;
  top: calc(25vh);
  left: calc(7.5%);
  margin-bottom: 12rem;
  height: 7rem;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0.5rem;
    }
    .title {
      text-align: start;
      font-size: 1.5em;
    }
    .point {
      text-align: end;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
