@import "Style";

.mywallet {
  background-color: $pastelPink;
  border-radius: 15px;
  padding: 1em;
  margin: 1.5rem;
  p {
    margin: 0;
  }
  .title {
    text-align: start;
    font-size: 1.5em;
  }
  .point {
    text-align: end;
    font-size: 3em;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
