.cardtotal {
  width: 10rem;
  margin-bottom: 2rem;
  .img {
    height: 10rem;
    width: 10rem;
    background-size: cover;
  }
  .fundingcontent {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; // 원하는 라인수
    -webkit-box-orient: vertical;
  }
}
