@import "Style";

.pointHistory {
  border-radius: 1rem;
  color: $white;
  padding: 1rem;
  font-size: 1.2rem;
  .totalPoint {
    display: flex;
    justify-content: space-between;
  }
  .yesterdayPoint {
    display: flex;
    justify-content: space-between;
  }
  .modalIcon {
    display: flex;
    justify-content: end;
  }
}
