@import "Style";

.profilePhoto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: $hotPink;
  border-radius: 0 0 1.5rem 1.5rem;
  height: 25vh;
  .leftCpnt {
    display: flex;
    flex-direction: column;
    color: $white;
    .textBox {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      .angel {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 999px;
        background-color: $white;
        background-image: url("/public/angel.png");
        background-size: cover;
        margin-right: 0.5rem;
      }
      .p {
        text-decoration: underline 1px solid;
        margin: auto;
      }
      .span {
        font-size: 1.2rem;
      }
    }
    .pp {
      background-color: #fb9f8c;
      border-radius: 1.5rem;
      height: 1.5rem;
    }
  }
  .photoWrapper {
    width: auto;
    position: relative;
    .img {
      width: 6rem;
      height: 6rem;
      border-radius: 9999px;
      background-color: lightgray;
    }
  }
}
.editPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1.5rem;
  background-color: $hotPink;
  height: calc(100vh - 168px);

  .photoWrapper {
    width: auto;
    position: relative;
    .img {
      width: 6rem;
      height: 6rem;
      border-radius: 9999px;
      background-color: lightgray;
    }
  }
}
