@import "Style";

.profileItemList {
  padding: 1.5rem;
  margin-top: 6rem;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: solid 1px lightgray;
    padding: 0;
    p {
      pointer-events: none;
    }
    svg {
      pointer-events: none;
    }
  }
}
