@import "Style";

.wrapper {
  background-color: rgb(192, 191, 191);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  .p {
    margin: 0;
    font-size: 1.5rem;
  }
  .icon {
    font-size: 1.5rem;
  }
}
