@import "Style";

.searchBar {
  position: relative;

  .input {
    height: 3rem;
    width: calc(100% - 1rem);
    border-radius: 10px;
    border: none;
    background-color: #e0e4f7;
    padding: 0 0 0 1rem;
    font-size: 1.2rem;
    &::placeholder {
      font-size: 1rem;
    }
  }
  .img {
    position: absolute;
    top: 0.5em;
    right: 1rem;
    width: 2rem;
  }
}
