$GamjaFlower: "GamjaFlower";

@font-face {
  font-family: "GamjaFlower";
  src: url("../fonts/GamjaFlower-Regular.ttf") format("truetype");
}
$deepBlue: #031888;
$sinhanBlue: #6096fd;
$pastelBlue: #aab6fb;
$hotPink: #fb788e;
$pastelPink: #faa7ba;
$white: #ffffff;
$black: #000000;
