$GamjaFlower: "GamjaFlower";

@font-face {
  font-family: "GamjaFlower";
  src: url("../fonts/GamjaFlower-Regular.ttf") format("truetype");
}
$deepBlue: #031888;
$sinhanBlue: #6096fd;
$pastelBlue: #aab6fb;
$hotPink: #fb788e;
$pastelPink: #faa7ba;
$white: #ffffff;
$black: #2a292b;
$grey: #808080;
$hrcolor: #d9d9d9;
$bcolor: #f6f4f1;
