@import "Style";

.logoTopbar {
  background-color: #d31e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  height: 56px;
  background-color: $white;
  .leftCpnt {
    display: flex;
    .logo {
      width: 3rem;
      background-size: cover;
    }
    .logoName {
      font-family: $GamjaFlower;
      color: $black;
      margin: auto 1rem auto;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  .searchBtn {
    width: 1.7rem;
    height: 1.7rem;
    border: none;
    padding: 2px;
    background-color: transparent;
    background-image: url("/public/buttons/searchButton.png");
    background-size: cover;
    margin-right: 1rem;
  }
}

.optionTopbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $white;
  height: 56px;
  .leftCpnt {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    .backBtn {
      background-image: url("/public/buttons/backButton.png");
      width: 1.5rem;
      height: 1.5rem;
      background-size: cover;
      background-color: $white;
      border: none;
    }
    .title_name {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  // .searchBtn {
  //   width: 1.7rem;
  //   height: 1.7rem;
  //   border: none;
  //   padding: 3px;
  //   background-color: transparent;
  //   background-image: url("/public/buttons/searchButton.png");
  //   background-size: cover;
  //   margin-right: 1rem;
  // }
}

.defaultTopbar {
  height: 7vh;
  border-bottom: 1px solid $hrcolor;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $white;
}

.backTopbar {
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: $white;
  height: 56px;

  .backBtn {
    background-image: url("/public/buttons/backButton.png");
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-color: $white;
    border: none;
    margin-left: 1rem;
  }
}
