@import "Style";

.logoTopbar {
  display: flex;
  height: 10vh;
  border-bottom: 1px solid $black;
  .logoName {
    font-family: $GamjaFlower;
    color: $black;
  }
}

.optionTopbar {
  display: flex;
  height: 10vh;
  border-bottom: 1px solid $black;
  justify-content: space-between;
  align-items: center;
  .leftCpnt {
    display: flex;
    align-items: center;
    .backBtn {
      background-image: url("/public/buttons/backButton.png");
      width: 1.5vw;
      height: 3.5vh;
      background-size: cover;
      background-color: $white;
      border: none;
    }
  }
  .searchBtn {
    width: 10%;
    height: 45%;
    background-image: url("/public/buttons/searchButton.png");
    background-size: 70%;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 3px;
    margin-right: 5px;
  }
}
