.wallet_content {
  background-color: white;
  position: absolute;
  width: 10rem;
  top: 3.5rem;
  right: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  text-align: left;
  overflow-wrap: break-word;
}
